
body {background-color: #5CA4A9;}

#header { text-align: center; padding: 10% 0% 5% 0%}

#writing_spot { text-align: center;}

#write_zone {width: 40%; height: 60px; background: #A6CDD0;}

#clear {background: #A6CDD0; }

#poof {text-align: center; visibility: hidden;} 

#back_home {background: #A6CDD0; }
