body {background-color: #1ebc18;}

#header { text-align: center; padding: 10% 0% 5% 0%}

#writing_spot { text-align: center;}

#write_zone {width: 40%; height: 60px; background: yellow;}

#clear {background: #cc10cc; }

#poof {text-align: center; visibility: hidden;}
